img{
  object-fit: cover;
  width: 32vh;
  height: 32vh;
  max-width: 40vh;
  
}
img:hover{
  opacity: 0.5;
}

#image {
  flex-grow: 2
}

.hidden {
  background-color: silver;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;  
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
